[submodule "thirdparty/lastfm"]
	path = thirdparty/lastfm
	url = https://github.com/RomanGL/lastfm.git
[submodule "thirdparty/InTouch"]
	path = thirdparty/InTouch
	url = https://github.com/RomanGL/InTouch.git
[submodule "thirdparty/AcrylicToolkitBlur"]
	path = thirdparty/AcrylicToolkitBlur
	url = https://github.com/RomanGL/AcrylicToolkitBlur.git
[submodule "thirdparty/YoutubeExtractor"]
	path = thirdparty/YoutubeExtractor
	url = https://github.com/RomanGL/YoutubeExtractor.git
