<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="63005RomanGladkikh.2915537A9FD8D" Publisher="CN=7B5C2571-5F76-4244-A81C-8A0EA0AC90C0" Version="2.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="e119fc1c-8be1-42e9-a92d-53050fb083ac" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ВКачай</DisplayName>
    <PublisherDisplayName>Roman Gladkikh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VKSaver.WindowsPhone.App">
      <m3:VisualElements DisplayName="ms-resource:AppNameText" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="VKSaver.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" Wide310x150Logo="Assets\Wide310x150.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="vksaver" />
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="VKSaver.PlayerTask.AudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.fileTypeAssociation" EntryPoint="VKSaver.WindowsPhone.App">
          <FileTypeAssociation Name="vksaver_music_file">
            <DisplayName>VKSaver Music File</DisplayName>
            <Logo>Assets\vksm-icon.png</Logo>
            <SupportedFileTypes>
              <FileType ContentType="audio/vksaver">.vksm</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>