<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="64af8e11-f872-4a15-b04b-1e5c91d6dcce" Publisher="CN=Роман" Version="1.0.0.0" />
  <Properties>
    <DisplayName>VKSaver.Windows</DisplayName>
    <PublisherDisplayName>Роман</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VKSaver.Windows.App">
      <m2:VisualElements DisplayName="ВКачай Beta" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ВКачай для Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="vksaver" />
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="VKSaver.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
  </Capabilities>
</Package>