<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="monoandroid60" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="monoandroid60" />
</packages>