<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable46-win81+wpa81" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="portable46-win81+wpa81" />
  <package id="TagLib.Portable" version="1.0.4" targetFramework="portable46-win81+wpa81" />
  <package id="XboxMusicSDK" version="1.7" targetFramework="portable46-win81+wpa81" developmentDependency="true" />
</packages>